main{
  display: flex;
  flex-flow: column;
}

.content{
  display: flex;
  min-height: 50vh;
  width: 100vw;
}

.companies_sidebar{


  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 30vw;
  height: auto;

  background-color: rgb(202, 199, 199);
}

.companies_sidebar--container{


  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 5vw;
  height: 2vh;
}

.companies_sidebar--container p {
  cursor: pointer;
  display: flex;
  align-items: center;


}

.companies_sidebar--container p::before{
  content: '>';
  display: inline-block;
}

.companies_sidebar--container:hover p::before{
  animation-name: to_left;
  animation-duration: 0.5s;
  /* animation-direction: alternate; */
  animation-fill-mode: forwards;
}

.companies_sidebar--container button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 15%;
  height: 5vh;
}


.vacancies{
  display: inline-block;
}

.vacancies_container{
  display: flex;
  justify-content: space-between;
  width: 50vw;
  padding: 10px;
}

.vacancies_container p{
  width: 50em;
}


@keyframes to_left{
  0%{
    transform: translateX(-2px);
  }

  25%{
    transform: translateX(-4px);
  }

  50%{
    transform: translateX(-6px);
  }

  75%{
    transform: translateX(-8px);
  }

  100%{
    transform: translateX(-10px);
  }
}

.companyInfo{
  display: block;
}
