body{
    background-color: rgba(202, 223, 223, 0.564);
}
#main-block{
    margin:0%;
    padding: 0%;
    height: 92%;

}
#white-bottom{
    text-align:justify;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    /* direction: ltr; */
    line-height: 1.34;
    height: 20%;
    margin: 0%;
    padding: 0%;

}
#poloska{
    color: #737373;
    direction: ltr;
    line-height: 1.34;
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}