*{
    margin: 0%;
    padding: 0%;
    background-color: 	#f2f2f4;
}
.textbox{
    margin-top: 200px;
    margin-left: 280px;

}
h1{
    font-size: 55px;
    color: #1977f2;
    font-family: sans-serif;
}
h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.log-in{
    
    width: 400px;
    height: 350px;
    margin-top: -194px;
    margin-right: 200px;
    float: right;
    border-radius: 60px;
    background-color: white;
    width: 390px;
    height: 355px;  
    text-align: center;
   
    
}
.form{
    float: right;
    background-color: white;
    margin-top: -12px;
    padding: 20px;
    border-radius: 10px;
}
.form input{
    margin-top: 10px;
    margin-left: -10px;
    border-radius: 8px;
    margin-right: -10px;
    padding:17px;
    width: 332px;
    border: none;
}
button{
    margin-top: 15px;
    background-color:#1977f2 ;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
#log-link{
    background-color:#1977f2;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration:none;
}
p{
    background-color: white;
    font-size: 16px;
    color: #1977f2;
    margin-top: 10px;
}
#forget-pass{
    color: #1977f2;
    background-color: white;
}
.btn {
    padding: 7px;
    margin-top: 15px;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
}
.btn button{
    background-color:#42b72c ;
   
}

#white-bottom{
    background-color: white;
    margin-top: 130px;
    text-align:center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
#poloska{
    color: #737373;
    direction: ltr;
    line-height: 1.34;
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
.strong-font{
    font-weight: bold;
}

.celebrity{
    font-size: 15px;
    color:black;
    margin-top: 190px;
    margin-left: 670px;
    background-color: #f2f2f4;
    text-align: center;
}
