*{
    font-family: Arial, Helvetica, sans-serif;
}
.logo-main{
    height: 40px;
    width: 110px;
    margin-left: 100px;
}

.nav-bar{
    display: flex;
    margin: 15px 0px 10px 0px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 10px 10px;
    padding: 0px 10px;
}

.itemmenu:hover{
    text-decoration: underline;
    font-weight: bold;
}

.itemmenu{
    text-decoration: none;
    color: #262626;
    margin: 0px 8px;
    font-size: 13px;
}
.qq{
    text-decoration: none;
    color: #262626;
    margin: 0px 10px;
    font-size: 13px;
    width:20px;
}

.search{
    width: 16px;
    height: 16px;
}

.login{
    width: 32px;
    height: 32px;
}

.main{
    margin-left: 70px;
    width: 1300px;
    height: 700px;
    margin-bottom: 50px;
}

.main-info{
    position: absolute;
    top: 55%;
    left: 150px;
}

.main-text{
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: black;

}
.link{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.link:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.info-link{
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    width: 160px;
    height: 30px;
    background-color: #000;
}

.column {
    float: left;
    width: 14%;
    margin: 0px 65px 0px 65px;
}
  
.row{
    margin-bottom: 500px;
}

.photo{
    width: 305px;
    height: 180px;
    margin: 20px 0px;
}

.column a{
    color: #0067b8;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.column a:hover{
    text-decoration: underline;
}


.column h3{
    margin-top: 0px;
    width: 305px;
}
.column p{
    margin-top: 0px;
    width: 305px;
    font-weight: 15px;
}